{# templates/components/_carte_article.html.twig #}
<div class="card mb-3">
    <div class="card-body">
        <h5>{{ article.title }}</h5>
        <p class="text-muted small mb-1 ">
            Par {{ article.author.username }} / {{ article.createdAt|date('d/m/Y') }}
            {% for category in article.categories %}
                <span class="badge bg-secondary">{{ category.name }}</span>
            {% endfor %}
        </p>
        <p class="mb-2">{{ article.content|slice(0, 100) }}...</p>
        <a href="{{ path('app_article', {'id': article.id}) }}" class="btn btn-outline-primary">Lire la suite</a>
    </div>
</div>
